<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>Blog Me Now</title>
    <!-- Path to Framework7 Library CSS-->
    <%= stylesheet_link_tag    "phone", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body class='phone'>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <%= render 'application/phone/left_panel' %>
    <!-- Views -->
    <div class="views">
      <div class="view view-main">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "phone" %>
  </body>
</html>